<% items.forEach(function(result) { %>
	<h3><%= result.heading %></h3><br>
	<p><%= result.data %></p><br>
	<% if(result.image !== null && result.image !== "") { %>
		<img src="<%= result.image %>"><br>
	<% } %>
<% }) %>