<% include navbar %>
<% include sidebar %>
			<div class="container-fluid dashboard-content">
                <div class="row">
                    <div class="col-sm-12">
                        <h3 class="text-center">Not Found</h3>
                    </div>
                </div>
            </div>
<% include footer %>