<% include navbar %>
<% include sidebar %>
			<div class="container-fluid dashboard-content">
                <div class="row">
                    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                        <div class="card">
                            <div class="card-body">
                            	Welcome to <%=org%> Benchmarking Server!
                            </div>
                        </div>
                    </div>
                </div>
            </div>
<% include footer %>